@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Young+Serif&display=swap");

header {
  height: 110px;
  width: 100%;
  background-color: lightblue;
  padding-top: 10px;
  margin-bottom: 0px;
}
.contactinfo {
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.contactinfo > i {
  border: 1px solid black;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  padding: 13px;
  text-align: center;
}
.contactinfo > a {
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

ul {
  background-color: rgb(1, 1, 47);
  width: 50%;
  height: 100px;
  margin: auto;
  list-style-type: none;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
li {
  display: inline-block;
  float: right;
  height: 40px;

  margin: 30px;
  margin-top: 30px;
  padding-top: 10px;
}
li > a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  width: 50px;

  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-family: "Young Serif", serif;
  padding: 15px;
}
.navs:hover {
  background-color: #00000071;
}
ul > img {
  width: 120px;
  margin: 10px;
}

main > .futures {
  background: linear-gradient(#ffffff, transparent, rgba(255, 254, 254, 0.355));
  width: 100%;
  margin: 0px;

  padding: 0px;
}
.future {
  margin-left: 350px;
  margin-top: 200px;
  margin-bottom: 0px;
  display: flex;

  width: fit-content;
  color: #000000;
  padding: 30px;
}
.businessman {
  box-shadow: 10px 10px 5px;
}
.cards {
  background-color: rgba(255, 254, 254, 0.355);
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-left: 150px;
  padding-bottom: 0px;
}
.card1 {
  width: 350px;
  height: 300px;
  margin-right: 50px;
  padding-top: 40px;
  background: linear-gradient(
    transparent,
    rgba(255, 254, 254, 0.355),
    rgba(0, 0, 0, 0.54),
    rgba(255, 254, 254, 0.355)
  );
  color: white;
}
.card2 {
  padding-top: 40px;
  width: 350px;
  height: 300px;
  margin-right: 50px;
  background: linear-gradient(
    transparent,
    rgba(255, 254, 254, 0.355),
    rgba(0, 0, 0, 0.54),
    rgba(255, 254, 254, 0.355)
  );
  color: white;
}

main {
  background: url(group1.jpg);
  background-size: 100%;
}

.section1 {
  display: flex;
  padding-left: 200px;
  padding-top: 100px;
  background: url(background.jpg);
  color: white;
}
.section1 > div {
  margin-right: 50px;
}
.details > i {
  font-size: 50px;
  color: #4ac8ed;
  border: 1px solid rgb(60, 126, 155);
  border-radius: 50px;
  margin-right: 30px;
  width: 50px;
  height: 50px;
  padding: 25px;
  text-align: center;
  margin-top: 20px;
}
.details > h3 {
  display: inline;
}
.details > p {
  margin-left: 120px;
  margin-top: 0px;
  color: white;
}
.chartimage {
  margin-top: 150px;
  padding-top: 20px;
  background: linear-gradient(transparent, white, white, white, transparent);
  height: fit-content;
}
.chartimage > img {
  filter: contrast(300%);
}
.count {
  display: flex;
  padding-left: 450px;
  height: 220px;
  padding-top: 125px;
  background-color: rgb(3, 3, 49);
}
.count > div {
  margin-right: 50px;
  text-align: center;
  color: white;
}
.count > div > h1 {
  border-bottom: 3px solid rgb(255, 255, 255);
  width: fit-content;
  font-size: xx-large;
  color: #4ac8ed;
}
.Portfolio {
  padding-bottom: 50px;
}
.Portfolio > h1 {
  font-size: 50px;
  font-weight: normal;

  text-decoration: underline solid black;
}
.images {
  display: flex;
  height: fit-content;
  margin-top: 10px;
  margin-left: 150px;
}
.images > img {
  margin-right: 10px;
}
.video {
  display: flex;
  padding-left: 150px;
}
.video1 {
  width: 600px;
  height: 400px;
  background-color: rgba(0, 0, 139, 0.592);
}
.video2 {
  width: 600px;
  height: 300px;
  background-color: rgba(0, 0, 139, 0.592);
  padding-top: 100px;
}
.video2 > img {
  border-radius: 50%;
  margin-left: 250px;
}
.video2 > p {
  text-align: justify;
  width: 400px;
  margin-left: 100px;
}
.services {
  display: flex;
  flex-direction: row;
  padding-left: 150px;
}
.service {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 200px;
  margin-right: 20px;
}
.icons {
  border: 1px solid #4ac8ed;
  width: 50px;
  height: 40px;
  padding: 20px;
  border-radius: 50%;
  padding-bottom: 15px;
  font-size: x-large;
  text-align: center;
  color: #4ac8ed;
  margin-right: 50px;
}
footer {
  height: 300px;
  background-color: rgb(1, 1, 53);
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
.about > h2 {
  text-decoration: solid underline white;
}
.about > i {
  display: inline-block;
  margin-right: 10px;
}
.links > h2 {
  text-decoration: solid underline white;
}
.location > h2 {
  text-decoration: solid underline white;
}
.about {
  width: 300px;
  color: white;
  margin-right: 20px;
}
.links {
  color: white;
  width: 300px;
  padding-left: 20px;
}
.links > a {
  text-decoration: none;
  color: white;

  height: 15px;
  width: 50px;
  font-size: large;
  margin-bottom: 10px;
  display: block;
}
.location {
  color: white;
  font-size: large;
}
